.container {
    text-align: center;
    margin-top: 4rem;
    h1 {
        color: #fff;
        font-size: 2rem;
        font-family: 'ubuntu';
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Josefin Sans', sans-serif;
        background: linear-gradient(
            to right,
            #b3b3b3 10%,
            #535353 50%,
            #b3b3b3 60%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 1.5s linear infinite;
        display: inline-block;
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
